* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigacija {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 179, 179, 0.942);
    padding: 10px;
}

.content {
    width: 50%;
    background-color: rgba(187, 169, 169, 0.942);
}

.menu-section {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}

.menu h1 {
    color: rgb(12, 12, 12);
    margin-bottom: 20px;
    font-style: oblique;
   

}

.menu p {
    color: rgb(12, 12, 12);
    margin: 0;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-size: 130%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-style: oblique;
    font-size: 70%;
}

.menu button {
    padding: 8px 15px;
    margin-left: 10px;
    background-color: rgb(242, 234, 219);
    color: rgb(89, 68, 41);
    border: 3px solid rgb(89, 68, 41);
    border-radius: 8px;
    cursor: pointer;
    font-style: oblique;
}

.menu button:hover {
    background-color: rgb(220, 200, 160);

}


.menu-icon {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.menu p.logout {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.menu p.logout a {
    color: rgb(89, 68, 41);
    padding: 8px 15px;
    border: 3px solid rgb(89, 68, 41);
    background-color: rgb(242, 234, 219);
    color: rgb(15, 14, 14);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    width: 100px;
    text-align: center;
}

.menu p.logout a:hover {
    background-color: rgb(173, 171, 166);
    border-color: #121111; 
    color: #fff; 
}


.menu p.logout a {
    margin-left: auto;
}

.sidebar {
    width: 400px;
    padding: 10px;
    text-align: center;
}

.sidebar-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.sidebar h3 {
    color: rgb(9, 9, 9);
    margin: 0;
    font-size: 18px;
    font-style: italic;

}

.menu-section {
    max-width: 80%;
    margin: 0 auto;
}

.menu-section p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    /*max-width: 500px;*/
    margin: 0 auto;
}

input,
select {
    margin-bottom: 10px;
}

h3 {
    color: rgb(4, 8, 4);
}


.content h2 {
    text-align: center;
}



.info-item {
    margin-bottom: 30px;

}

h2,
h3,
h4 {
    margin: 0;
    color: #333;
    
}

h3 {
    color: #555;
}
h1{
    font-style: italic;
}

.info-container {
    background-color: rgb(223, 221, 221);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.info-item {
    margin-bottom: 20px;
}

.navigacija .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigacija .top-buttons {
    display: flex;
    gap: 10px;
}

.navigacija .top-buttons a {
    text-decoration:none;
    font-style: italic;
}

.navigacija .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.navigacija button {
    background-color: rgb(242, 234, 219);
    color: rgb(15, 14, 14);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    width: 100px;
    
}

.navigacija button:hover {
    background-color: rgb(196, 193, 185);
    border-color: #121111; 
    color: #fff; 
}
.navigacija .content div {
    margin-bottom: 20px;
}

.navigacija .content h2 {
    color: #2c3939;
    margin-bottom: 10px;
}

.navigacija .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigacija .top-buttons {
    display: flex;
    gap: 10px;
}

.navigacija .top-buttons a {
    text-decoration: none;
}

.navigacija .buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.navigacija .content div {
    margin-bottom: 20px;
}

.navigacija .content h2 {
    color: #1c2121;
    margin-bottom: 10px;
}

.content h2 {
    text-align: center;
}


.clanak {
    width: 100%;
    background-color: aquamarine;
}

/*stilizovanje alerta za brisanje*/
.custom-dialog {
    position: fixed;
    top: 35%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: rgba(203, 199, 199, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.custom-dialog p {
    margin-bottom: 20px;
    color: #333;
}

.custom-dialog button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    border-radius: 5px;

}

.confirm-button,
.cancel-button {
    background-color: rgb(242, 234, 219);
    color: rgb(15, 14, 14);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    width: 100px;
}

.confirm-button:hover,
.cancel-button:hover {
    background-color: rgb(196, 193, 185);
    border-color: #121111; 
    color: #fff; 
}
