@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lora', serif;
}

.wrapper_gore {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;

}

.container_main {
    display: flex;
    flex-direction: row;
}

.top-header {
    display: flex;
    justify-content: space-between;

}

.top-header-levo {
    width: 80%;
}
.top-header-levo h3{
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 20px;
}
.top-header-levo p{
    padding-bottom: 10px;
    font-size: 3em;
}

.top-header-desno a {
    margin-right: 10px;
    text-decoration: none;
}

.top-header-desno button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 70px;

}

.top-header-desno button:hover {
    background-color: #27ae60;
}

.top-header-desno form {
    display: flex;
    align-items: center;
}

.top-header-desno input[type="search"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.top-header-desno input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.top-header-desno input[type="submit"]:hover {
    background-color: #27ae60;
}

.top-header-desno {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}


.logo {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.navigacija {}

.navigacija ul {
    list-style: none;
}

.navigacija li {
    display: inline-block;
    font-size: 18px;
}

.navigacija a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.navigacija a:hover {
    color: black;
    background-color: white;
}

.main {
    display: flex;
    justify-content: center;
}

.glavne_vesti {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-right:  5%;
    padding-top: 4.5%;

}
.glavne_vesti h4{
padding-top: 10px;
font-size: 14px;
}
.glavne_vesti h1{
    text-align: center;
    font-size: 3em;
}

.glavne_vesti h2{
    padding-bottom: 10px;
}

.glavne_vesti h2:hover {
    text-decoration: underline;
    color: #6b90c2;
}

.glavna_vest_sadrzaj{

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
 
}

.aktuelne_vesti {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.vest {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.vest_opis {
    width: 60%;
    padding: 10px;
}

.vest_opis a {
    text-decoration: none;
    color: black;
}

.vest_slika {
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.lead_slika {
    width: 100%;
}

.aktuelne_vesti {
    margin: 20px 0;
}

.aktuelna_vest {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    
}

.aktuelna_vest p {
    color: #555;
    line-height: 1.2;
}

.aktuelna_vest a {
    text-decoration: none;
    color: #6b90c2;
    font-weight: bold;
}

.aktuelna_vest a:hover {
    text-decoration: underline;
}


.nema-vesti {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.aktuelne_vesti h2 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.aktuelna_vest h3 {
    color: #050505;
    margin-top: 10px;
}

.lajkovi {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}

.lajkovi p {
    margin: 10px;
}

.lajk {
    font-size: 2em;
    color:grey;
    
}
.lajkovi a:hover .fa-thumbs-up {
    color: #6b90c2; 
}

.lajkovi a:hover .fa-thumbs-down {
    color: #6b90c2;
}

/*Stilizovanje komentara*/
.komentari {    
    width: 600px;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.komentari h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.komentari div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.komentari h4, .komentari p {
    margin: 0;
}

.komentari p {
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
}

.komentar-forma {
    width: 600px;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
}

.komentar-forma label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.komentar-forma input,
.komentar-forma textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.komentar-forma input[type="submit"] {
    background-color:#888;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
}

.komentari-datum {
    font-size: 12px;
    color: #777;
}